extends mainlayout
block content
  br
  //- img.rounded-circle(src='/img/same-sky.jpg', alt='same-sky')
  //- br
  //- br
  //- br
  br
  h3 real time speech translator
  h3 human communication transcends language
  br
  br
  br
  button.btn.btn-light(type='button')
    a.text-purple(href='/views/prep.jade') let's go!
    