extends mainlayout
block content

  script.
    $(document).ready(function(){
      var numSpeakers;
      $('#btn-room-name').click(function(){
        createLangForm("form-language", "select-lang");  //create forms from available langs
        toggler("form-language")
        toggler("btn-transcend")
      });
      $('#btn-transcend').click(function(){
        sendPrep();
      });
    });
  form
    #num-speakers-form.form-group
      label
        | Enter the name of your Room in this here box plesase
        | (if ur creating a new room, enter a name n hope its not taken.
        | otherwise, just have ur friend tell u their room name)
      div.form-group
        textarea#room-name-text-area.form-control(rows="5")
        br
        button#btn-room-name(type='button') done
  br
  br
  form
    #form-language.form-group.choose-lang.hidden
      label.user what language do u speak...  
      select#select-lang
  br
  br
  button#btn-transcend.btn.btn-light.hidden(type='button')
    a#transcend-link.text-purple(href='/views/transcend.jade') time 2 transcend!


