extends mainlayout
block content
  // contents

  script(type='text/javascript').
    $(document).ready(function(){
      var data = getVars();
      createTranscendPage(data);
    });
  div#reg-voice-btns-row.row
    // rvb-btn-1,2,3
  br
  button#start-convo-button.btn.btn-light(type='button') start transcension
  br
  br
  br
  div#text-area-row.row
    // textarea1,2,3

  // contents



