extends mainlayout
block header-content

block content
	body
		script(src='https://webrtc.github.io/adapter/adapter-4.2.2.js')
		script(src="https://simplewebrtc.com/latest-v3.js")
		script(src='/js/transcend.js')
		script(src='/js/watson-speech.js')
		.container
			#okta-login-container  
			.row
				.col  
				.col-md-auto.align-self-center
					p#login
						//- b NOTE
						//- | : You are not currently logged in. If you'd like to start your own chat room please 
						button#btn-start.btn.btn-light(type='button', onclick="speechToText()") transcend
					#url.alert.alert-dark(role='alert')
						span#roomIntro ROOM URL
						| : 
						span#roomUrl
				.col
			#remotes.row
				.col-md-6
					.videoContainer
						//
							The oncontextmenu attribute simply tells the browser to not
							do anything when the video element is right-clicked
						//- video#selfVideo(oncontextmenu='return false;')
						// default volume numbers
						//- meter#localVolume.volume(min='-45', max='-20', high='-25', low='-40')
					.textContainer
						//- #selfSpeech( readonly, wrap='soft') Spoken output goes here
			#stop
				button#btn-stop.btn.btn-light(type='button') stop
		
		script.
			//initialize the Okta widget, handle user authentication, and log some messages to the developer console
			var okta = new OktaSignIn({
				baseUrl: "https://dev-326472.oktapreview.com",
				clientId: "0oaftlunzbppNRIc50h7",
				authParams: {
					issuer: "https://dev-326472.oktapreview.com/oauth2/default",
					//specify u want an id token inc w res
					responseType: ["token", "id_token"],
					display: "page"
				}
			});

			if(window.location.href.indexOf("language") == -1){
			    window.location.href = "prep.jade";
			}

			handleLogin();

