extends mainlayout
block content

  script.
    $(document).ready(function(){
    var numSpeakers;
    $('#btn-num-speakers').click(function(){
    numSpeakers = getSelectionFormResponse("num-speakers-form"); //defined but not declared, so global
    for(var i=1; i<=numSpeakers; i++){
    createLangForm("lang-" + i + "-form", "select"+i);  //create forms from available langs
    toggler("lang-" + i + "-form"); //unhide proper num of forms
    }
    toggler("btn-transcend")
    //createLangForms(numSpeakers;
    //showForms(numSpeakers;
    });
    $('#btn-transcend').click(function(){
    getLanguagesFromForm(numSpeakers);
    });
    });
  form
    #num-speakers-form.form-group
      label
        | how many people do we got here who need a good ol real time translation (lol 3 max pls)
      select.form-control(multiple='')
        option 1
        option 2
        option 3
  button#btn-num-speakers.btn.btn-light(type='button') Done
  br
  br
  form
    #lang-1-form.form-group.choose-lang.hidden
      label.user1 what language does person 1 speak...  
      select#select1
    #lang-2-form.form-group.choose-lang.hidden
      label.user2 what language does person 2 speak...
      select#select2
    #lang-3-form.form-group.choose-lang.hidden
      label.user3 what language does person 3 speak...
      select#select3
  br
  br
  button#btn-transcend.btn.btn-light.hidden(type='button')
    a#transcend-link.text-purple(href='/views/transcend.jade') time 2 transcend!


